<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL" monitorInterval="30" name="OCR-Projet06">
    <Properties>
        <Property name="framework_logs">./logs/frameworks.log</Property>
        <Property name="projet06_logs">./logs/project.log</Property>
    </Properties>

    <Appenders>
        <File name="FileAppli" fileName="${projet06_logs}" append="false" bufferSize="32768" bufferedIO="true"
              immediateFlush="false">
            <PatternLayout>
                <MarkerPatternSelector
                        defaultPattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg Logger=%logger%n">
                    <PatternMatch key="CLASS"
                                  pattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg Class==%logger%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </File>
        <File name="FileSql" fileName="${framework_logs}" append="false" bufferSize="32768" bufferedIO="true"
              immediateFlush="false">
            <PatternLayout>
                <MarkerPatternSelector
                        defaultPattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg : Logger=%logger %n">
                    <PatternMatch key="CLASS"
                                  pattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg : Class=%logger %n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%sn. %d{HH:mm:ss} [%t] %-5level - %msg :Logger=%logger %n">
                    <PatternMatch key="CLASS" pattern="%sn. %d{HH:mm:ss} [%t] %-5level - %msg : Class=%logger %n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="fr.ocr" level="ALL" additivity="false">
            <AppenderRef ref="FileAppli" />
        </Logger>
        <Logger name="org.jboss.logging" level="ALL" additivity="false">
            <AppenderRef ref="FileSql" />
        </Logger>
        <Logger name="Console" level="ALL" additivity="true">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="ALL">
            <AppenderRef ref="FileSql"/>
        </Root>
    </Loggers>
</Configuration>

