<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30" name="OCR-Projet06">
    <Properties>
        <Property name="framework_logs">../logs/project06/frameworks.log</Property>
        <Property name="projet06_logs">../logs/project06/project.log</Property>
        <Property name="filtreSurProjet"> ${project.build.finalName} </Property>

        log4j.logger.org.thymeleaf
    </Properties>

    <Appenders>
        <File name="FileAppli" fileName="${projet06_logs}" append="false" bufferSize="0" bufferedIO="false"
              immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="FileSql" fileName="${framework_logs}" append="false" bufferSize="0" bufferedIO="false"
              immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="fr" level="DEBUG" additivity="false">
            <AppenderRef ref="FileAppli" />
        </Logger>
        <Logger name="org" level="WARN" additivity="false">
            <AppenderRef ref="FileSql" />
        </Logger>
        <Logger name="Console" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

