<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Pri_confirmationCreationTopo</servlet-name>
        <jsp-file>/WEB-INF/jsp/Pri_confirmationCreationTopo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pri_PageErreurInterne</servlet-name>
        <jsp-file>/WEB-INF/jsp/Pri_PageErreurInterne.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pri_ListeCompleteTopos</servlet-name>
        <jsp-file>/WEB-INF/jsp/Pri_ListeCompleteTopos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pri_ListeCompleteSpots</servlet-name>
        <jsp-file>/WEB-INF/jsp/Pri_ListeCompleteSpots.jsp</jsp-file>
    </servlet>



    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code id="err404">404</error-code>
        <location> /error404.html</location>
    </error-page>
</web-app>