<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form   action="ajouterUnTopo" method="post">
    <label id="nomTopo" > Nom du Topo : </label>
    <input id   name="nomTopo" size="64" type="text"/>
    <br>
    <br>
    <label id="dateParutionTopo" > dateParutionTopo (yyyy/mm/dd) : </label>
    <input id  name="dateParutionTopo" size="64" type="date"/>
    <br>
    <br>
    <label id="lieuTopo" > lieuTopo : </label>
    <input id  name="lieuTopo" size="64" type="text"/>
    <br>
    <br>
    <label id="resumeTopo" > Resumé : </label>
    <input id  name="resumeTopo" size="64"  type="text"/>
    <br>
    <br>
    <input type="submit" value="Enregistrer le  Topo"/>
</form>
</body>
</html>