
/* ***************  CONTAINER ************************** */
.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0px;
    border: 1px solid black;
    justify-content: space-between;
    width: auto;
    min-height: 1058px;
}
.container header {
    color: black;
    flex-basis: 1%;
}
.container footer {
    color: black;
    flex-basis: 1%;
}
.container header h1, .container footer h1 {
    text-align: center;
    width: 75%;
}
/* ***************  CORPSDEPAGE   ************************** */
.container .corpsDePage {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    flex: 1;
}
.container .corpsDePage  h3 {
    color: GrayText;
}
.container .corpsDePage nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    padding: 0.2%;
    margin: 0.2%;
}
.container .corpsDePage aside {
    display: flex;
    flex: 3;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    border: 1px solid black;
    padding: 0.2%;
    margin: 0.2%;
}
.container .corpsDePage main {
    display: flex;
    flex: 5;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.2%;
    margin: 0.2%;
}
/* *************** NAV ************************** */
.container  nav header {
    color: black;
    text-align: center;
    border: 1px dotted black;
}
.container nav footer {
    color: black;
    text-align: center;
    border: 1px dotted black;
}
.container nav section {
    list-style: none;
    border: 1px dotted black;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100%;
    display: flex;
    flex-grow: 3;
}

.container  nav section .boutonLateral {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: larger;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.container  nav section .boutonLateral:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}
.container  nav section .boutonLateral:disabled {
    background-color: dimgray;
    color: darkgray;
    font-style: italic;
}
/* ***************  MAIN  ************************** */
.container  main section .divrecherche{
    border: 1px solid black;
    padding: 0.2%;
    margin: 0.2%;
}
.container  main header{
    text-align: center;
}

/* ***************  ASIDE **************************  */
.container  aside article {
    border: 2px dotted black;
    margin-bottom: 0.5%;
}

/* ************************************* */
.container .bordered {
    border: solid #ccc 1px;
    border-radius: 20px;
    box-shadow: 0 3px 3px #ccc;
    border-spacing: 0;
    overflow: scroll;
    width: 100%;
}

.container   .bordered td,
.container   .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.container   .bordered th {
    background-color: #dce9f9;
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.container .bordered td:first-child,
.container  .bordered th:first-child {
    border-left: none;
}
.container   .bordered th:first-child {
    border-radius: 20px 0 0 0;
}
.container   .bordered th:last-child {
    border-radius: 0 20px 0 0;
}
.container   .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.container   .bordered tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}
.container   .bordered tr:hover {
    background: #fbf8e9;
}
/* ********************  formSimple ********************************** */
.container  .formSimple {
    border: solid #ccc 1px;
    display: flex;
}
.container   .formSimple .boutonFormSimple {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.container  .formSimple .boutonFormSimple:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}
.container   .formSimple .boutonFormSimple:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.container   .formSimple .boutonFormSimple:disabled {
    background-color: dimgray;
    color: darkgray;
    font-style: italic;
}

.container .formSimple .labels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
    flex-basis: 20%;
}
.container .formSimple .inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
}
.container   .formSimple .actions {
    align-items: center;
}
.container   .formSimple .informations {
    justify-content: center;
    align-items: center;
}
/* ********************  formSimpleLogin ********************************** */
.container   .formSimpleLogin {
    border: solid #ccc 1px;
    display: flex;
}
.container .formSimpleLogin .labels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
    flex-basis: 20%;
}
.container .formSimpleLogin .inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
}
.container   .formSimpleLogin .actions {
    align-items: center;
}
.container   .formSimpleLogin .informations {
    justify-content: center;
    align-items: center;
}
.container   .formSimpleLogin .boutonFormSimple {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: greenyellow;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.container   .formSimpleLogin .boutonFormSimple:hover {
    background-color: rgba(255, 0, 0, 1);
    color: black;
}
.container   .formSimpleLogin .boutonFormSimple:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

