/* ***************  CONTAINER ************************** */
#container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    flex-wrap: nowrap;
    border: 2px solid black;
}

#container header, #container footer {
    background: lightgrey;
    color: black;
}

#container header h1, #container footer h1 {
    text-align: center;
}

/* ***************  MAIN  ************************** */

#container main {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

#container main section {
    flex: 5;
    text-align: center;
    background: whitesmoke;
    border: 2px solid black;
}

#container main aside {
    flex: 3;
    border: 2px solid black;
}

#container main nav {
    flex: 1;
    border: 2px solid black;
}
#container main nav {
    display: flex;
    padding-left: 2px;
    align-items: center;
    margin: 2px;
    flex-direction: column;
}

#container main nav header, #container main nav footer {
    background: whitesmoke;
    color: black;
    text-align: center;
    min-width: 100%;

}

#container main nav section {
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    min-width: 100%;
    border: 2px dotted black;
}

#container main nav section a {
    color: darkblue;
    margin-left: 10%;
}

/* ***************  MAIN SECTION ************************** */

#container main section table {
    border-spacing: 0;
    width: 100%;
}

#container main section .bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}

#container main section .bordered td,
#container main section .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#container main section .bordered th {
    background-color: #dce9f9;
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#container main section .bordered td:first-child,
#container main section .bordered th:first-child {
    border-left: none;
}

#container main section .bordered th:first-child {
    border-radius: 20px 0 0 0;
}

#container main section .bordered th:last-child {
    border-radius: 0 20px 0 0;
}

#container main section .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

#container main section .bordered tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

#container main section .bordered tr:hover {
    background: #fbf8e9;
}

#container main section + h3 {
    color: red;
}

/* ***************  MAIN ASIDE **************************  */
#container main aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
}

#container main aside article {
    background: lightgrey;
    margin: 0.5%;
    padding: 0.5%;
    border: 2px dotted black;
}

#container main aside article {
    flex: 1;
}

#container main aside article:nth-of-type(3) {
    flex: 2;
}
