
/* ***************  CONTAINER ************************** */
#container {
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: stretch;
    width: auto;
    min-height: 1058px;
}

#container header {
    background: darkgrey;
    color: black;
    flex-basis: 1%;
}

#container footer {
    background: darkgrey;
    color: black;
    flex-basis: 1%;
}

#container header h1, #container footer h1 {
    text-align: center;
    width: 75%;
}

/* ***************  MAIN  ************************** */
#container main {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    flex: 1;
    flex-basis: 100%;
}

/* ***************  MAIN  NAV ************************** */
#container main nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    align-items: center;
    padding: 0.2%;
    margin: 0.2%;

}

#container main nav header {
    background: darkgrey;
    color: black;
    text-align: center;
    flex-basis: 1%;
    min-width: 100%;
    border: 1px dotted black;
}

#container main nav footer {
    background: darkgrey;
    color: black;
    text-align: center;
    flex-basis: 1%;
    min-width: 100%;
    border: 1px dotted black;
}

#container main nav section {
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    min-width: 100%;
    border: 1px dotted black;
}

#container main nav section .boutonLateral {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: larger;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#container main nav section .boutonLateral:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}

/* ***************  MAIN SECTION ************************** */
#container main section {
    flex: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: whitesmoke;
    border: 1px solid black;
    padding: 0.2%;
    margin: 0.2%;
}

#container main section table {
    border-spacing: 0;
    width: 100%;
    overflow: scroll;
}

#container main section .bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}

#container main section .bordered td,
#container main section .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#container main section .formSimple {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    border: solid #ccc 1px;
}

#container main section .formSimple .boutonFormSimple {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#container main section .formSimple .boutonFormSimple:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}

#container main section .formSimple .boutonFormSimple:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}


#container main section .formSimple .labels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-basis: 40%;
}

#container main section .formSimple .inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 60%;
    justify-content: flex-start;
}

#container main section .formSimple .actions {
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
}

#container main section .formSimple .informations {
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
}


#container main section .formSimpleLogin {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border: solid #ccc 1px;
}

#container main section .formSimpleLogin .boutonFormSimple {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: greenyellow;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#container main section .formSimpleLogin .boutonFormSimple:hover {
    background-color: rgba(255, 0, 0, 1);
    color: black;
}

#container main section .formSimpleLogin .boutonFormSimple:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#container main section .formSimpleLogin .labels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-basis: 40%;
}

#container main section .formSimpleLogin .inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 30%;
    justify-content: space-between;
}

#container main section .formSimpleLogin .actions {
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

#container main section .formSimpleLogin .informations {
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

#container main section .bordered th {
    background-color: #dce9f9;
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#container main section .bordered td:first-child,
#container main section .bordered th:first-child {
    border-left: none;
}

#container main section .bordered th:first-child {
    border-radius: 20px 0 0 0;
}

#container main section .bordered th:last-child {
    border-radius: 0 20px 0 0;
}

#container main section .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

#container main section .bordered tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

#container main section .bordered tr:hover {
    background: #fbf8e9;
}
#container main section h3 {
    color: GrayText;
}

/* ***************  MAIN ASIDE **************************  */

#container main aside {
    flex: 3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.2%;
    margin: 0.2%;
}

#container main aside table {
    border-spacing: 0;
    width: 100%;
    overflow: scroll;
}

#container main aside .bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}
#container main aside article {
    background: lightgrey;
    border: 2px dotted black;
    margin-bottom: 0.5%;
}

#container main aside article {
    flex: 1;
}

/*******************/
#container main aside .bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
}

#container main aside .bordered td,
#container main aside .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#container main aside .bordered th {
    background-color: darkgrey;
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#container main aside .bordered td:first-child,
#container main aside .bordered th:first-child {
    border-left: none;
}

#container main aside .bordered th:first-child {
    border-radius: 20px 0 0 0;
}

#container main aside .bordered th:last-child {
    border-radius: 0 20px 0 0;
}

#container main aside .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

#container main aside .bordered tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}
