<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" name="OCR-Projet06" >
    <Properties>
        <Property name="framework_logs">./logs/frameworks.log</Property>
        <Property name="projet06_logs">./logs/project.log</Property>
    </Properties>

    <Appenders>
        <File name="FileAppli" fileName="${projet06_logs}">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg %n">
                    <PatternMatch key="CLASS" pattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg %n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </File>
        <File name="FileSql" fileName="${framework_logs}">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg : Logger%n">
                    <PatternMatch key="CLASS" pattern="%sn. %d{dd/MM - HH:mm:ss.SSS} [%t] %-5level - %msg : Class%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%sn. %d{HH:mm:ss} [%t] %-5level - %msg : Logger%n">
                    <PatternMatch key="CLASS" pattern="%sn. %d{HH:mm:ss} [%t] %-5level - %msg : Class%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="fr.ocr.prj06.utility.logs.LogsProjet" level="DEBUG" additivity="false">
            <AppenderRef ref="FileAppli" />
        </Logger>
        <Logger name="org.hibernate" level="INFO" additivity="false">
            <AppenderRef ref="FileSql" />
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>

