<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Pri_PageErreurInterne</servlet-name>
        <jsp-file>/WEB-INF/jsp/Pri_PageErreurInterne.jsp</jsp-file>
    </servlet>

    <!-- **************************************************************** -->
    <!-- TOPOS -->
    <!-- **************************************************************** -->
    <servlet>
        <servlet-name>Pri_AjouterUnTopo</servlet-name>
        <jsp-file>/WEB-INF/jsp/topos/Pri_AjouterUnTopo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pub_ListeDesTopos</servlet-name>
        <jsp-file>/WEB-INF/jsp/topos/Pub_ListeDesTopos.jsp</jsp-file>
    </servlet>

    <!-- **************************************************************** -->

    <!-- **************************************************************** -->
    <!-- SPOTS -->
    <!-- **************************************************************** -->
    <servlet>
        <servlet-name>Pub_ListeDesSpots</servlet-name>
        <jsp-file>/WEB-INF/jsp/spots/Pub_ListeDesSpots.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pub_GestionsDesSpots</servlet-name>
        <jsp-file>/WEB-INF/jsp/spots/Pub_GestionsDesSpots.jsp</jsp-file>
    </servlet>
    <!-- **************************************************************** -->

    <!-- **************************************************************** -->
    <!--    GRIMPEURS          -->
    <!-- **************************************************************** -->
    <servlet>
        <servlet-name>Pri_ErreurGrimpeur</servlet-name>
        <jsp-file>/WEB-INF/jsp/grimpeurs/Pri_ErreurGrimpeur.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pub_ConnexionGrimpeur</servlet-name>
        <jsp-file>/WEB-INF/jsp/grimpeurs/Pub_ConnexionGrimpeur.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Pub_InscriptionGrimpeur</servlet-name>
        <jsp-file>/WEB-INF/jsp/grimpeurs/Pub_InscriptionGrimpeur.jsp</jsp-file>
    </servlet>

    <!-- **************************************************************** -->

    <error-page>
        <error-code id="err404">404</error-code>
        <location> /error404.html</location>
    </error-page>
</web-app>